@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  --green: #6ea563;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

p {
  line-height: 1.6;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.juice {
  width: 90%;
  max-width: 900px;
  box-shadow: 0 0 8px 0 #dedede;
  display: flex;
  flex-wrap: wrap;
}

.juice-info,
figure {
  flex: 0 0 50%;
}

.juice-info {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.juice-info::after {
  content: url("../Requirements-and-Resources/image/image1.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.juice-info-title {
  text-align: center;
  font-size: 2rem;
  border-bottom: 3px dotted var(--green);
}

.juice-info-text {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.juice-info-recipe span {
  color: var(--green);
  font-weight: 700;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
th,
td {
  border: solid var(--green);
  padding: 0.2em 1em;
}
