@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root {
  box-sizing: border-box;
  --lite-gray: #f8f8f8;
  --dark-gray: #e6e6e6;
  --coral: #fc4c50;
  --dark-blue: #54546d;
  --lite-blue: #4d6e8b;
  --turkish-blue: #4f3caa;
  --green: #069d40;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2;
}

p {
  margin: 0;
  line-height: 1.6;
  color: var(--dark-blue);
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}
