@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

:root {
  font-family: "Gelasio", serif;
  box-sizing: border-box;
  --gray: #e6e3de;
  --brown: #554938;
  --lite-blue: #c0ced1;
  --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* typography */

button {
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

li {
  cursor: pointer;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* header */

.header {
  background: url("../Requirements-and-Resources/Media/craving.jpg")
    center/cover no-repeat;
  min-height: 30rem;
  position: relative;
}

.navbar {
  min-height: 5rem;
  background-color: var(--gray);
  padding: 0 3rem;
}

.logo {
  flex: 0 0 7%;
  font-size: 2rem;
  color: var(--brown);
  font-weight: bold;
}

.header-navbar {
  flex: 0 0 25%;
}

.header-navbar li {
  color: var(--brown);
}

.nav-buttons {
  flex: 0 0 7%;
}

.btn {
  background-color: var(--brown);
  color: var(--white);
  padding: 0.5rem;
  border: 1px solid var(--brown);
}

.search-icon {
  background-color: transparent;
  border: none;
}

/* header --- site-heading */

.site-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.site-title {
  color: var(--white);
  font-size: 2.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.site-field {
  display: block;
  width: 80%;
  padding: 0.5rem 2rem;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
}

.site-heading .fa-search {
  position: absolute;
  left: 55px;
  bottom: 8px;
  color: #888;
}

/* main */

.main {
  background: url("../Requirements-and-Resources/Media/background.jpg")
    center/cover no-repeat;
  padding: 2rem 0 0;
}

/* articles */

.article {
  margin: auto;
  max-width: 1200px;
  background-color: var(--gray);
}

.article-img-container {
  flex: 2 1;
}

.article-info {
  flex: 1 1;
  padding: 0.5rem;
  text-align: center;
}

.article-info-header {
  font-size: 2rem;
}

.article-info-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.article-info.btn {
  padding: 0.5rem 1rem;
}

.article:nth-child(2) {
  flex-direction: row-reverse;
  margin-top: 2rem;
}

/* toolbox section */

.toolbox {
  max-width: 1000px;
  margin: 2rem auto 0;
}

.toolbox-up.btn {
  background-color: var(--gray);
  opacity: 0.9;
  border: none;
  display: block;
  width: 15rem;
  margin: 0 auto 1rem;
  color: var(--brown);
  font-size: 1.2rem;
  font-weight: bold;
}

.toolbox-item {
  flex: 0 0 22%;
  background-color: var(--gray);
  text-align: center;
  opacity: 0.9;
}

.toolbox-img figcaption {
  padding: 0.5rem;
}

.toolbox-bottom.btn {
  display: block;
  margin: 2rem auto;
  background-color: tomato;
  border: none;
  width: 15rem;
}

/* footer */

.footer {
  background-color: var(--gray);
  padding: 1rem;
  min-height: 5rem;
  justify-content: center;
  opacity: 0.8;
}

.footer-navigation {
  width: 100%;
  max-width: 1200px;
}

.footer-nav-list {
  display: inline-flex;
}

.footer-nav-list li:not(:first-child) {
  border-left: 1px solid var(--brown);
}

.footer-nav-list li {
  padding: 0 0.5rem;
  color: var(--brown);
}
