@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #f4f5f7;
  --blue: #42abf8;
  --green: #23be5e;
  --radius: 0.25rem;
  font-family: "lato", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

body {
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1rem;
  position: relative;
  width: 80%;
}

.title {
  color: var(--white);
  background-color: var(--blue);
  padding: 0.5rem 1rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  position: absolute;
  right: 16px;
  top: -19px;
}

.list-container {
  list-style-type: none;
  background-color: var(--white);
  border-radius: 0.25rem 0 0.25rem 0.25rem;
  overflow: hidden;
}

.list-item {
  margin-bottom: 0.25rem;
  padding: 0.5rem 1rem;
  background-color: var(--gray);
}

.list-item:last-child {
  margin-bottom: 0;
}

.fas {
  color: var(--green);
  float: right;
}
